.container-fluid{
    display: grid;
    grid-template-columns: 20% 80%;
}

/* menu overlay */
#show_overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #E1C4C4;
    display: none;
    text-align: center;
}
#show_overlay img{
    width: 40%;
}
.overlay_layout{
    position: absolute;
    width: 90%;
    max-width: 450px;
    left: 0;
    top: 35%;
    border-radius: 0px 20px 20px 0px;
    background-color: snow;
    box-shadow: 7px 7px 4px gray;
}
.close_btn{
    width: 80px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF4C1;
    color: #AD5A5A;
    box-shadow: 7px 7px 4px #E1C4C4;
    border-radius: 50%;
    font-family: 'Marhey', sans-serif;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -5%;
}
.close_btn:hover{
    background-color: #965454;
    color: #FFF4C1;
    box-shadow: 7px 7px 4px gray;
}
.menu_btn{
    margin: 20px auto;
    text-align: center;
    background-color:#eddfca;
    padding: 10px;
    border-radius: 30px;
    color: brown;
    width: 90%;
    max-width: 350px;
    cursor: pointer;
}
.menu_btn:hover{
    background-color: #f4baaf;
    box-shadow: 5px 5px 3px gray;
}
.menu_btns{
    margin-top: 50px;
}


/* intro */
ul li{
    font-family: 'Marhey', sans-serif;
}
ul{
    list-style-type: none;
}
#intro_title{
    font-size: 50px;
    margin: 30px auto 0px;
    color: #965454;
}
#div_intro{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}
#div_intro img{
    width: 13%;
    display: inline-block;
}
.intro_images{
    margin: 20px auto;
}

/* 遊戲按鈕選單 */
.aside{
    margin-top: 100px;
    margin-left: -15px;
}
.aside_btn{
    padding: 15px;
    margin-bottom:20px;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
    background-color: #faead3;
    box-shadow: 5px 5px 3px #965454;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.aside_layout{
    width: 100%;
    max-width: 250px;
}
.logo{
    font-family: 'Marhey', sans-serif;
    margin: 30px auto;
    text-align: center;
    font-size: 35px;
    color:#965454 ;
    cursor: pointer;
}
.menu_button{
    color:#965454 ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #faead3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Marhey', sans-serif;
    cursor: pointer;
}
.menu_button:hover{
    background-color: #965454;
    color: snow;
}

/* 遊戲們 */
.game{
    padding-left: 50px;
    margin-right: -15px;
}
.game_layout{
    width: 100%;
    max-width: 1100px;
    border-radius: 20px 0px 0px 20px;
    background-color: snow;
    margin: 10px auto;
    padding: 20px;
    height: 700px;
}
/* 終極密碼 */
.game_info{
    width: 90%;
    max-width: 750px;
    padding: 10px;
    background-color: gainsboro;    
    border-radius: 10px;
    font-family: 'Marhey', sans-serif;
    box-shadow: 5px 5px 3px gray;
    margin:15px auto ;
}
.title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Marhey', sans-serif;
}
.container_code{
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 0px auto;
}
.level{
    background-color: #D2E9FF;
    color: 	#003060;
    border-radius: 15px;
    box-shadow: 5px 5px 3px gray;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Marhey', sans-serif;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
}
.level_layout{
    margin: 0px auto;
    width: 100%;
    max-width: 500px;
}
.level:hover{
    background-color: beige;
    color: #AD5A5A;
}
#show_level{
    color: 	#28004D;
    border-radius: 15px;
    padding: 20px 0px;
    width: 100%;
    max-width: 500px;
    font-family: 'Marhey', sans-serif;
}
#guess_num{
    width: 200px;
    height: 50px;
    padding: 15px;
    border: 1px solid 	#E6CAFF;
    border-radius: 20px;
    outline: none;
    display: inline;
}
.enter{
    width: 100px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #F1E1FF;
}
.enter:hover{
    background: #E1C4C4;
}
.result{
    margin-top: 5px;
    color: red;
    font-size: 20px;
    font-family: 'Marhey', sans-serif;
    display: none;
}
#count{
    margin: 20px 0px;
    color:#6A6AFF;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Marhey', sans-serif;
}
.reset{
    background-color: #F1E1FF;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    display: none;
    max-width: 120px;
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translateX(-10%);
}
.reset:hover{
    background-color: #D2E9FF;
    box-shadow: 5px 5px 3px gray;
}
.change{
    background-color: #F1E1FF;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    display: none;
    max-width: 150px;
    position: absolute;
    bottom: 10%;
    right: 10%;
    transform: translateX(10%);
}
.change:hover{
    background-color: #D2E9FF;
    box-shadow: 5px 5px 3px gray;
}
.user{
    display: none;
    width: 100%;
    max-width: 500px;
}
#info_layout{
    background-color:	#FFF4C1;
    border-radius: 15px;
    display: none;
    text-align: center;
    max-width: 550px;
    width: 100%;
    position: relative;
    margin: 20px auto;
    height: 300px;

}
button{
    color: black;
}

/* 剪刀石頭布 */
.battle{
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    font-family: 'Marhey', sans-serif;
}
.game_ratio{
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-family: 'Marhey', sans-serif;
}
.other_btn{
    margin: 10px;
    text-align: center;
}
.gesture{
    margin: 0px;
    text-align: center;
}
.container_pss{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
}
.battle img{
    width: 50%;
}
.gesture img{
    width: 15%;
    cursor: pointer;
    margin: 20px;
    opacity: 0.5;
}
.gesture img:hover{
    opacity: 1;
}
.gesture img .clicked{
    opacity: 1;
}
.ratio_layout{
    background-color: green;
    border: 10px solid brown;
    box-shadow: 5px 5px 3px gray;
    color: white;
    text-align: center;
}
#ratio{
    font-size: 50px;
}
.result_pss{
    font-family: 'Marhey', sans-serif;
    margin: 20px;
}
#computer_gesture{
    transform: rotate(45deg);
}
#user_gesture{
    transform: rotate(-45deg);
}
.name{
    margin-top: 20px;
    font-size: 22px;
}
#result_match{
    color: snow;
    font-size: 20px;
}
.restart_btn{
    border-radius: 20px;
    padding: 10px;
    background-color: #AD5A5A;
    border: 5px solid #faead3;
    color: snow;
    text-align: center;
    width: 200px;
    margin: 0px auto;
    cursor: pointer;
}

/* 記憶力大考驗 */
button{
    border: none;
    background:linear-gradient(135deg,	#FFD2D2,	#FFED97);
    color: brown;
    padding: 12px 17px;
    box-shadow: 10px 10px 10px 5px gray;
}
.memory_game{
    margin: 10px auto 20px;
    padding: 20px;
    max-width: 100%;
    height: 600px;
    width: 500px;
    text-align: center;
    background: linear-gradient(100deg,#D2E9FF,#FFF4C1,	#F1E1FF);
    align-items: center;
    justify-content: center;
}
.game_board{
    width: 450px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 300px;
    margin: 20px auto 20px;
}
.memory_game h3{
    color: darkred;
}
.item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: snow;
    width: 100px;
    height: 90px;
    margin-left: 10px;
    transition: 0.25s;
    transform: rotateY(180deg);
}

.item::after{
    content: '';
    position: absolute;
    inset:0;
    background:snow;
    transition: 0.4s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
   
}
.open::after{
    transform: rotateY(180deg);
}
.item.open{
    transform: rotateY(0deg);
}

/* footer */
#footer{
    padding: 8px;
    font-family: 'Marhey', sans-serif;
    text-align: center;
    color: #965454;
}